{
  "parser": "@typescript-eslint/parser",

  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "next",
    "next/core-web-vitals"
  ],

  "plugins": ["prettier", "@typescript-eslint"],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "globals": {
    "JSX": true
  },

  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "off",
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
