.passwordInputWrapper {
  position: relative;

  display: flex;
}

.eyeWrapper {
  position: absolute;
  right: 0;

  display: flex;

  margin-right: 0.5rem;

  justify-self: center;
  align-self: center;

  cursor: pointer;
}

.eyeStyles {
  font-size: max(16px, var(--font-size-M));

  color: #000;

  border-radius: 100px;
}
