.baseCard {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1rem 2rem;
  // margin: 0 1rem;
  overflow: hidden;
  scroll-margin-top: 5rem;
  font-size: var(--font-size-M);
  background-color: rgb(var(--card-color));
  // box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  box-shadow: var(--shadow-card);
  border-radius: 45px;

  h1 {
    margin: 0;
    margin-bottom: 0.5rem;

    font-size: var(--font-size-XXL);
    font-style: italic;
    text-transform: capitalize;

    align-self: center;
    text-align: center;

    user-select: none;
  }
}

.children {
  display: grid;
  width: 100%;

  grid-template-columns: 100%;
  grid-auto-rows: auto;

  justify-items: center;

  gap: 1rem;
}

@media (min-width: 800px) {
  .base-card {
    font-size: var(--font-size-M);
    h1 {
      font-size: calc(var(--font-size-XXL) * 1.5);
    }
  }
}

// .show-more {
//   padding-bottom: 1.2rem;
// }

// @media (max-width: 400px) {
//   .base-card {
//     padding: calc(1.6rem * 1 / 2) inherit;
//   }
// }
