.footer {
  composes: baseCard from "components/cards/baseCard.module.scss";

  width: fit-content;

  gap: 1rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  justify-self: center;

  font-size: var(--font-size-L);
  font-weight: 700;
  font-style: italic;

  border-radius: 900px;
}

.heart {
  font-style: normal;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // width: 45%;
  gap: 01.5rem;
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.75);
  & > * {
    cursor: pointer;
  }
}
